!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    style
      body {

      }
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(data-main='javascripts/main', type='text/javascript', src='/javascripts/libs/require.js')
  body
    div.navbar.navbarinverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#')= title
    div.container-fluid
      div.row-fluid
        div.span3
          div.well.sidebar-nav
            ul.nav.nav-list
            li.nav-header=title
            li.active
              a(href='#') link 1
            li
              a(href='#') second link

        div.span9
          div.row-fluid
          div.span4
            p#error
            div#chat-console!= body
