!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(data-main='javascripts/main', type='text/javascript', src='/javascripts/libs/require.js')
  body!= body
