!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


    style
      body {

      }
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(data-main='javascripts/main', type='text/javascript', src='/javascripts/libs/require.js')
  body!= body
