<!-- the chatroom window view -->
<!-- can be found at public/javascripts/chatroom.js -->

<script src='/socket.io/socket.io.js' type="text/javascript" charset="utf-8"></script>

<ul id="console-window">
    <li>Now entering thechatroom as <span class="username">undefined</span></li>
</ul>






<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
//this code takes care of the chat part of the applicationby maintaining a persistent socket
    console.log('successfully loaded the chatroom view!!');
    var socket = io.connect('http://localhost:3000');
 /*
    $('span.username').load('/session/username/', function(data) {
        console.log(data);
        });
        */

    //note, this code doesn't work and yet the one right below works without flaw.
    // definitly need to ask instructors wtf?

    $.ajax({
        url:'/session/username/',
        type:'GET',
        dataType:'json',
        success:function(data) {
            //$('span.username').text(data.username);
            if (data) {
                console.log('recieved data');
                $('span.username').text(data.username);
            }
        },
        error:function() {
            //$(#error).text('error calling /session/username').fadeIn();
        }
    });

/*
    $.ajax({
        url: '/session/username/',
        type: 'GET',
        dataType: 'json' ,
        success: function(data){console.log(data.username)},
        error:function() {}
    })

*/







//]]>
</script>
